/****** General ***********/
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/**************************/
header{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*header img{
  
}
*/

main div:first-child{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
}
