h1 {
  display: flex;
  justify-content: center;
}

ul {
  padding-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  background-color: $grey;
  align-items: baseline;
  padding: 25px 0;
  border-top: solid 1px $slate;

  input {
    border: 0;
    font-size: 1.2rem;
    margin-left: 15px;
    background-color: $grey;
  }
}

main header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px ;
  background-color: $light;

  h2{
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
  }
}

.functioning {
  padding-top: 30px;

  h2 {
    padding: 0 0 10px 10px;
  }

  li {  
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: $light;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding : 20px 0;
  }

  i {
    color: $slate;
  }

  li:hover i,
  li:focus i {
    color: $purple;
  }

  .fa-circle {
    color: $purple;
  }

  .numbers {
    color: $white;
  }
}

[id="restaurants"] {
  padding: 30px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: $light;

  h2{
    text-align: left;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  li {
    display: flex;
    gap: 30px;
  }

  a {
    width: 100%;
  }

  figure {
    position: relative;
  }

  figure > p {
    position: absolute;
    right: 5%;
    top: 15px;
    padding : 5px 10px 5px 10px;
    color: $green;
    background-color: $light-green;
  }

  img {
    height: 200px;
    width: 95vw;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin-bottom: -4px;
  }

  figcaption {
    display: flex;
    position: relative;
    flex-flow: column;
    height: 50px;
    padding: 15px;
    background-color: $white;
    border-radius: 0 0 15px 15px;
    gap: 5px;
  }

  h3, p {
    margin: 0;
  }

  .fa-heart {
    position: absolute;
    right: 25px;
    top: calc(50% - 12px);
  }
}

@media (min-width: 768px) {
  .functioning {

    ul {
      display: flex;
      flex-direction: row;
      gap: 3%;
    }

    li {
      width: 35%;
      font-size: 0.8rem;
    }
  }

  [id="restaurants"] {
    
    ul {
      display: flex;
      flex-wrap: wrap;
      width: 95%;
      gap: 10%;
    }

    li {
      width: 45%;
      margin-bottom: 50px;
    }

    img {
      height: 180px;
    }

    figcaption {
      height: 50px;
    }
  }
}

@media (min-width: 1024px) {

  .functioning {

    li {
      width: 30%;
      font-size: 0.9rem;
    }
  }
  
  [id="restaurants"] {
    
    ul {
      width: 80%;
      gap: 10%;
    }
  }
}