form {
  display: flex;
  justify-content: center;
  background-color: $grey;
  align-items: baseline;
  padding: 25px 0;
  border-top: solid 1px $slate;

  input {
    border: 0;
    font-size: 1.2rem;
    margin-left: 15px;
    background-color: $grey;
  }
}

main header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px ;
  background-color: $light;

  h2{
    text-align: center;
    margin: 0;
  }

  p {
    text-align: center;
  }
}

.functioning {

  li {
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: $light;
    box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
    gap: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding : 20px 0;
  }

  i {
    color: $slate;
  }

  li:hover i,
  li:focus i {
    color: $purple;
  }

  .fa-circle {
    color: $purple;
  }

  .numbers {
    color: $white;
  }
}

[id="restaurants"] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 18px;
  background-color: $light;

  li {
    display: flex;
    gap: 30px;
  }

  a{
    width: 100%;
  }

  figure > p{
    position: absolute;
    right: 15%;
    padding : 5px 10px 5px 10px;
    color: $green;
    background-color: $light-green;
  }

  img {
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  figcaption {
    display: flex;
    flex-flow: column;
    place-content: space-evenly;
    height: 130px;
    padding: 0 10px 5px 10px;
  }
}
