* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: $black;
}

.fa-heart {
  scale: 1.5;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 40
}

.fa-heart:active {
  background: $gradian;
  /*essayer d'utiliser type="checkbox" dans le html*/
}

header {
  h1 {
    display: flex;
    justify-content: center;
    font-family: 'Shrikhand', serif;
  }
}

section {
  width: 95%;
  margin: auto;
}

footer {
  padding: 25px;
  background-color: $slate;
  color: $white;

  h3 {
    margin: 0 0 16px;
    font-family: 'Shrikhand', serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  i{
    width: 13px;
    margin-right: 10px;
  }

  a {
    color: $white;
  }
}

.btn {
  color: $white;
  padding: 15px;
  border-radius: 30px;
  background: $gradian;
  transition: opacity 0.3s ease;
  border: none;
  width: 200px;
  margin: 30px auto;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}
