* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $black;
}

h1 {
  font-family: 'Shrikhand', serif;
}

section {
  width: 95%;
  margin: auto;
}

.fa-heart {
  position: absolute;
  scale: 1.5;
  cursor: pointer;
  color: transparent;
  transition: background-image 1s ease;
  background-image: none; 
  -webkit-text-stroke: 1px black;

  &:hover {
    background-image: $gradian;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px $purple;
  }
}

footer {
  padding: 25px;
  background-color: $slate;
  color: $white;

  h3 {
    margin: 0 0 16px;
    font-family: 'Shrikhand', serif;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
  }

  i{
    width: 13px;
    margin-right: 10px;
  }

  a {
    color: $white;
  }
}

.btn {
  color: $white;
  padding: 15px;
  border-radius: 30px;
  background: $gradian;
  transition: opacity 0.3s ease;
  border: none;
  width: 200px;
  margin: 30px auto;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
}

@media (min-width: 768px) {

  footer {
    position: relative;
    padding-top: 65px;

    h3 {
      position: absolute;
      right: 5%;
      bottom: 15%;
    }

    ul {
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 220px 10px 0;
    }

    li {
      padding-left: 20px;
      font-size: 0.7rem;
    }
  }

}

@media (min-width: 1024px) {

  section {
    width: 80%;
  }

  footer {

    li {
      padding-left: 20px;
      font-size: 1rem;
    }
  }
}
