body {
  margin: 0;
}

header {
  position: relative;

  h1 {
    margin: 20px 0 0 0;
  }
  .fa-arrow-left {
    position: absolute;
    scale: 1.5;
    left: 10px;
    top: 15px;
  } 

  img {
    display: block;
    max-width: 100%; 
    height: 275px;
  }

  h2,i {
    display: inline ;
    margin-left: 25px;
  }
  
  h2 {
    font-family: 'Shrikhand', serif;
    margin-right: 25px;
  }
}

main {
  display: flex;
  flex-direction: column;
}

section {

  h2 {
    border-radius: 5px;
    border-width: 5px;
    border-bottom: 5px;
    border-color: $light-green;
  }

  ul {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  li {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 10px 5px 10px;
    box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: 69px;
    margin-bottom: 20px;
  }
  
  h3 {
    font-weight: bold;
    display: block;
    align-self: flex-start;
    margin: 10px 0 0 0;
  }

  p {
    align-self: flex-start;
    margin-top: 10px;
  }

  b {
    position: absolute;
    right: 1%;
    top: 55px;
  }
}
