* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #101010;
}

h1 {
  font-family: "Shrikhand", serif;
}

section {
  width: 95%;
  margin: auto;
}

.fa-heart {
  position: absolute;
  scale: 1.5;
  cursor: pointer;
}

.full {
  opacity: 0;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 1.5s;
}
.full:hover, .full :focus {
  opacity: 1;
  color: transparent;
}

.btn {
  color: #fff;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  transition: all 0.3s ease;
  border: none;
  width: 200px;
  margin: 30px auto;
  box-shadow: 2px 2px 5px #eaeaea;
  text-align: center;
}

.btn:hover,
.btn:focus {
  opacity: 0.8;
  box-shadow: 5px 5px 5px #353535;
}

footer {
  padding: 25px;
  background-color: #353535;
  color: #fff;
}
footer h3 {
  margin: 0 0 16px;
  font-family: "Shrikhand", serif;
  font-weight: 100;
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}
footer i {
  width: 13px;
  margin-right: 10px;
}
footer a {
  color: #fff;
}

@media (min-width: 768px) {
  footer {
    position: relative;
    padding-top: 65px;
  }
  footer h3 {
    position: absolute;
    right: 5%;
    bottom: 15%;
  }
  footer ul {
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 220px 10px 0;
  }
  footer li {
    padding-left: 20px;
    font-size: 0.7rem;
  }
}
@media (min-width: 1024px) {
  section {
    width: 80%;
  }
  footer li {
    padding-left: 20px;
    font-size: 1rem;
  }
}
h1 {
  display: flex;
  justify-content: center;
}

ul {
  padding-bottom: 50px;
}

form {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  align-items: baseline;
  padding: 25px 0;
  border-top: solid 1px #353535;
}
form input {
  border: 0;
  font-size: 1.2rem;
  margin-left: 15px;
  background-color: #eaeaea;
}

main header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  background-color: #f3f3f3;
}
main header h2 {
  text-align: center;
  margin: 0;
}
main header p {
  text-align: center;
}

.functioning {
  padding-top: 30px;
}
.functioning h2 {
  padding: 0 0 10px 10px;
}
.functioning li {
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: #f3f3f3;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
  gap: 20px;
  border-radius: 20px;
  margin: 0 0 20px 20px;
  padding: 20px 0;
}
.functioning i {
  color: #353535;
}
.functioning li:hover i,
.functioning li:focus i {
  color: #9747ff;
}
.functioning .fa-stack {
  margin-left: -20px;
}
.functioning .fa-circle {
  color: #9747ff;
}
.functioning .numbers {
  color: #fff;
}

[id=restaurants] {
  padding: 30px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: #f3f3f3;
}
[id=restaurants] h2 {
  text-align: left;
}
[id=restaurants] ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
[id=restaurants] li {
  display: flex;
  gap: 30px;
}
[id=restaurants] a {
  width: 100%;
}
[id=restaurants] figure {
  position: relative;
}
[id=restaurants] figure > p {
  position: absolute;
  right: 5%;
  top: 15px;
  padding: 5px 10px 5px 10px;
  color: #008766;
  background-color: #99e2d0;
}
[id=restaurants] img {
  height: 200px;
  width: 95vw;
  border-radius: 15px 15px 0 0;
  margin-bottom: -4px;
}
[id=restaurants] figcaption {
  display: flex;
  position: relative;
  flex-flow: column;
  height: 50px;
  padding: 15px;
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  gap: 5px;
}
[id=restaurants] h3, [id=restaurants] p {
  margin: 0;
}
[id=restaurants] .fa-heart {
  right: 30px;
  top: calc(50% - 12px);
}

@media (min-width: 768px) {
  .functioning ul {
    display: flex;
    flex-direction: row;
    gap: 3%;
  }
  .functioning li {
    width: 35%;
    font-size: 0.8rem;
  }
  [id=restaurants] h2 {
    margin-left: 3%;
  }
  [id=restaurants] ul {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    gap: 10%;
    flex-direction: row;
    margin: auto;
  }
  [id=restaurants] li {
    width: 45%;
    margin-bottom: 50px;
  }
  [id=restaurants] img {
    height: 180px;
  }
  [id=restaurants] figcaption {
    height: 50px;
  }
}
@media (min-width: 1024px) {
  .functioning li {
    width: 30%;
    font-size: 0.9rem;
  }
  [id=restaurants] {
    padding-top: 10px;
  }
  [id=restaurants] h2 {
    margin-left: 10%;
  }
  [id=restaurants] ul {
    width: 80%;
    gap: 10%;
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */
